In [1]:
import requests
import pandas as pd

# Replace with your actual URL
url = 'https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1'

# Fetch data from the URL
response = requests.get(url)
data = response.json()

# Extract movie results
movies = data['results']

# Define the fields you want in your dataset
dataset = []
for movie in movies:
    dataset.append({
        "id": movie['id'],
        "title": movie['title'],
        "original_title": movie['original_title'],
        "original_language": movie['original_language'],
        "release_date": movie['release_date'],
        "vote_average": movie['vote_average'],
        "vote_count": movie['vote_count'],
        "popularity": movie['popularity'],
        "overview": movie['overview'],
        "genre_ids": movie['genre_ids'],
        "poster_path": movie['poster_path'],
        "backdrop_path": movie['backdrop_path'],
        "adult": movie['adult'],
        "video": movie['video']
    })

# Create a DataFrame
df = pd.DataFrame(dataset)
df.head()

,id,title,original_title,original_language,release_date,vote_average,vote_count,popularity,overview,genre_ids,poster_path,backdrop_path,adult,video
0,278,The Shawshank Redemption,The Shawshank Redemption,en,1994-09-23,8.700,28234,36.1378,Imprisoned in the 1940s for the double murder ...,"[18, 80]",/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg,/zfbjgQE1uSd9wiPTX4VzsLi0rGG.jpg,False,False
1,238,The Godfather,The Godfather,en,1972-03-14,8.700,21405,47.0623,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,False,False
2,240,The Godfather Part II,The Godfather Part II,en,1974-12-20,8.571,12929,15.8259,In the continuing saga of the Corleone crime f...,"[18, 80]",/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,/kGzFbGhp99zva6oZODW5atUtnqi.jpg,False,False
3,424,Schindler's List,Schindler's List,en,1993-12-15,8.564,16403,29.5538,The true story of how businessman Oskar Schind...,"[18, 36, 10752]",/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,/zb6fM1CX41D9rF9hdgclu0peUmy.jpg,False,False
4,389,12 Angry Men,12 Angry Men,en,1957-04-10,8.500,9107,19.4644,The defense and the prosecution have rested an...,[18],/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg,/bxgTSUenZDHNFerQ1whRKplrMKF.jpg,False,False

In [2]:
df["overview"]

0     Imprisoned in the 1940s for the double murder ...
1     Spanning the years 1945 to 1955, a chronicle o...
2     In the continuing saga of the Corleone crime f...
3     The true story of how businessman Oskar Schind...
4     The defense and the prosecution have rested an...
5     A young girl, Chihiro, becomes trapped in a st...
6     Batman raises the stakes in his war on crime. ...
7     Raj is a rich, carefree, happy-go-lucky second...
8     A supernatural tale set on death row in a Sout...
9     All unemployed, Ki-taek's family takes peculia...
10    A burger-loving hit man, his philosophical par...
11    High schoolers Mitsuha and Taki are complete s...
12    As armies mass for a final battle that will de...
13    A man with a low IQ has accomplished great thi...
14    While the Civil War rages on between the Union...
15    A samurai answers a village's request for prot...
16    The true story of Henry Hill, a half-Irish, ha...
17    The adventures of a group of explorers who mak...
18    In the final months of World War II, 14-year-o...
19    A touching story of an Italian book seller of ...
Name: overview, dtype: object

In [3]:
df["overview"]=df["overview"].str.lower()

In [4]:
import string

def remove_punctuation(text):
    return text.translate(str.maketrans("","",string.punctuation))

In [5]:
df["overview"]=df["overview"].apply(remove_punctuation)

In [6]:
df["overview"][2]

'in the continuing saga of the corleone crime family a young vito corleone grows up in sicily and in 1910s new york in the 1950s michael corleone attempts to expand the family business into las vegas hollywood and cuba'

In [7]:
from bs4 import BeautifulSoup

def remove_html(text):
    return BeautifulSoup(text,"html.parser").get_text()

In [8]:
df["overview"]=df["overview"].apply(remove_html)

In [9]:
import re

def remove_urls(text):
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub(r'', text)

In [10]:
df["overview"]=df["overview"].apply(remove_urls)

In [11]:
from textblob import TextBlob

for i in range(df.shape[0]):
    blob=TextBlob(df["overview"][0])
    blob.correct()

In [12]:
df["overview"]

0     imprisoned in the 1940s for the double murder ...
1     spanning the years 1945 to 1955 a chronicle of...
2     in the continuing saga of the corleone crime f...
3     the true story of how businessman oskar schind...
4     the defense and the prosecution have rested an...
5     a young girl chihiro becomes trapped in a stra...
6     batman raises the stakes in his war on crime w...
7     raj is a rich carefree happygolucky second gen...
8     a supernatural tale set on death row in a sout...
9     all unemployed kitaeks family takes peculiar i...
10    a burgerloving hit man his philosophical partn...
11    high schoolers mitsuha and taki are complete s...
12    as armies mass for a final battle that will de...
13    a man with a low iq has accomplished great thi...
14    while the civil war rages on between the union...
15    a samurai answers a villages request for prote...
16    the true story of henry hill a halfirish halfs...
17    the adventures of a group of explorers who mak...
18    in the final months of world war ii 14yearold ...
19    a touching story of an italian book seller of ...
Name: overview, dtype: object

In [13]:
from nltk.corpus import stopwords

In [14]:
def remove_stopwords(text):
    new_text=[]
    for i in text.split():
        if i in stopwords.words("english"):
            new_text.append("")
        else:
            new_text.append(i)

    x=new_text[:]
    new_text.clear()
    return " ".join(x)

In [15]:
df["overview"]=df["overview"].apply(remove_stopwords)

In [19]:
from nltk.tokenize import word_tokenize,sent_tokenize
import spacy

nlp=spacy.load('en_core_web_md')

In [20]:
doc1=nlp(df["overview"][1])
for i in doc1:
    print(i,end=" ")

spanning   years 1945   1955   chronicle    fictional italianamerican corleone crime family   organized crime family patriarch vito corleone barely survives   attempt    life   youngest son michael steps    take care    wouldbe killers launching   campaign   bloody revenge

In [24]:
from nltk.stem.porter import PorterStemmer

stemmer=PorterStemmer()

In [26]:
stemmed=[stemmer.stem(str(i)) for i in doc1]

In [27]:
stemmed

['span',
 ' ',
 'year',
 '1945',
 ' ',
 '1955',
 ' ',
 'chronicl',
 '  ',
 'fiction',
 'italianamerican',
 'corleon',
 'crime',
 'famili',
 ' ',
 'organ',
 'crime',
 'famili',
 'patriarch',
 'vito',
 'corleon',
 'bare',
 'surviv',
 ' ',
 'attempt',
 '  ',
 'life',
 ' ',
 'youngest',
 'son',
 'michael',
 'step',
 '  ',
 'take',
 'care',
 '  ',
 'wouldb',
 'killer',
 'launch',
 ' ',
 'campaign',
 ' ',
 'bloodi',
 'reveng']

In [28]:
from nltk.stem import WordNetLemmatizer

wordnet=WordNetLemmatizer()

In [36]:
verb_lemmatized = [wordnet.lemmatize(str(word), pos="v") for word in doc1]
verb_lemmatized

['span',
 ' ',
 'years',
 '1945',
 ' ',
 '1955',
 ' ',
 'chronicle',
 '  ',
 'fictional',
 'italianamerican',
 'corleone',
 'crime',
 'family',
 ' ',
 'organize',
 'crime',
 'family',
 'patriarch',
 'vito',
 'corleone',
 'barely',
 'survive',
 ' ',
 'attempt',
 '  ',
 'life',
 ' ',
 'youngest',
 'son',
 'michael',
 'step',
 '  ',
 'take',
 'care',
 '  ',
 'wouldbe',
 'killers',
 'launch',
 ' ',
 'campaign',
 ' ',
 'bloody',
 'revenge']